* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black/Roboto-Black.eot');
    src: url('../fonts/Roboto-Black/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Black/Roboto-Black.woff') format('woff'),
    url('../fonts/Roboto-Black/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.promo{
    height: 800px;
    background: url(../img/bg/main_bg.png) center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.logo .logo_img{
    display: block;
    margin: 0 auto;
}
.logo .logo_text{
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 14px;
}
h1{
    margin-top: 53px;
}
.title{
    color: #f9bf3b;
    font-family: "Roboto-Black";
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

}
.simple .title_big{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    color: white;
    text-align: center;
    margin-top: 21px;
}
h2.title{
    margin-top: 30px;
}
.promo_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: white;
    padding: 0 13px 0 13px;
    margin-top: 23px;
}
.promo .promo_text span{
    font-family: 'Roboto - Bold';
    font-weight: 700;
    color: #f9bf3b;
}
.promo .promo_btn{
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: RobotoCondensed;
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    cursor:pointer;
    outline:none;
    color: white;
}
.promo .promo_more{
    margin-top: 73px;
}
.promo .promo_more .more_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    color:rgba(256, 256, 256, 0.30);
    text-transform:uppercase;
    text-align: center;
}
.promo .promo_more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

/* -----------------------section waiting------------------------*/

.waiting{
    min-height: 604px;
    padding: 85px 0 75px 0;
    background-color: #efefef;
}
.waiting .waiting_header{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #252525;
    text-align: center;
}
.waiting_divider{
    display: block;
    width:217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}
.waiting .waiting_subheader{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    margin-top: 17px;
}
.waiting .waiting_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top: 33px;
    color:#4a4a4a;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    
}

/*-------------section optimization-----------*/

.optimization{
    min-height: 550px;
    padding: 102px 0 107px 0;
}
.optimization .optimization_header{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    color: #299CBD;
    margin-left: 391px;
}
.optimization .optimization_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
    margin-left: 391px;
    margin-top: 25px;
}
.optimization .optimization_text span{
    font-weight: 700;
    color: black;
}
.optimization .optimization_img{
    position: absolute;
    top:-55px;
    z-index: -1;
    left: -240px;
}

/*-----------------section finish----------------*/
.finish{
    min-height: 447px;
    background:url(../img/bg/finish_bg.png);
    padding: 86px 0 79px 0;
}
.finish .finish_header{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
}
.finish_divider{
    display: block;
    width:217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}
.finish .finish_wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}
.finish .finish_wrapper .finish_item{
    width: 204px;
}
.finish .finish_wrapper .finish_item .finish_round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 50%;
}
.finish .finish_wrapper .finish_item .finish_descr{
    margin-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #EFEFEF;
}